
*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background: #E6E6E6;
}

.content-active{
	top: 0;
}

#sidebar.active{
	left: 0;
	height: 100%;
	transition: all 300ms;
}

.butt{
	background-color: #555;
	height: 50px;
	width: 100%;
}

#sidebar{
	position: fixed;
	
	width: 250px;
	top: 50px;
	height: 100%;
	background-color: #57626f;
	border-right: 4px solid #E0E5EA;
	transition: all 300ms;
}

#sidebar ul li:first-child{/* первый элемент*/
	text-align: center;
	color: #fff;
	font-size: 1.95em;
	list-style: none;
	padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child){/* первый элемент*/
	width: 90%;
	margin-left: 10%;
	font-size: 1.1em;
	list-style: none;
	padding: 15px 10px;
}

#sidebar ul li a{
	color: #dfe5ed;
	text-decoration: none;
}

#sidebar ul li a:hover{
	color: #59e9df;
}

#sidebar .toggle-btn{
	position: absolute;
	left: 270px;
	top: 20px;
	background: #E0E5EA;
	padding: 10px;
	border-radius: 12px;
	cursor: pointer; 
}
#sidebar .toggle-btn:hover{
	background: #556270;
}

#sidebar .toggle-btn span{
	display: block;
	width: 25px;
	height: 4px;
	background-color: #666;
	margin: 4px 0;
}
.but{
	display: none;
	font-size: 35px;
	width: 50px;
	text-align: center;
	height: 50px;
	color: #e2e2e2;
}
.but:hover{
	background-color: #424242;
	transition: all 300ms;
}

.cont-active{
	opacity: 0;
  	visibility: hidden;
  	transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.notification-container{
	left: 50%;
	position: absolute;
	bottom: 0px;
	margin: auto;
	width: 290px;
	height: 100px;
	overflow: hidden;
}

.content{
	margin: auto;
	color: #848484;
	font-size: 30px;
	width: 290px;
	height: 100px;
	bottom: -100px;
	position: relative;
	border-left: 5px solid #2E9AFE;
	background: #fff;
	transition: all 1000ms;
}

/*Кнопка закрытия*/
img{
	width: 100px;
	height: 60px;
	color: #848484;
}

.div{
	width: 200px;
	height: 200px;
	background-color: red;
	float: right;
	display: none;
}
.div-active{
	display: block;
}
/*картинки*/
.container{
	position: absolute;
	top: 200px;
	left: 450px;
}

.container img{
	width: 270px;
	height: 200px;
}

@media screen and (max-width: 500px){
	#sidebar{
		left: -260px;
	}

	.but{
		display: block;
	}

	.notification-container{
		left: 70px;
	}

	.container{
	/*	position: inherit  ;*/
		top: 400px;
		left: 30px;
	}
	
	.container img{
		width: 130px;
		height: 120px;
	}


}



