body{
  background-color: #e6e6e6;
}


.tools {
  border-bottom: 1px dashed #bcbcbc
}

/*классы для jq*/

	/*выпадающее меню*/
	.section_1.active{
		left: 0;
		transition: all 300ms;
	}
	/*всплывающее уведомление*/
	.cont-active{
		opacity: 0;
	  	visibility: hidden;
	  	transition: opacity 0.3s, visibility 0s linear 0.3s;
	}
/*-------------*/
/*загрузка*/
#preloaders {
position: fixed; /*фиксированное положение блока*/
left: 0; /*положение элемента слева*/
top: 0; /*положение элемента сверху*/
right: 0; /*положение элемента справа*/
bottom: 0; /*положение элемента снизу*/
background: #fff; /*цвет заднего фона блока*/
z-index: 1001; /*располагаем его над всеми элементами на странице*/
}
#preloaders img {
font-size: 70px; /*размер иконки*/
position: absolute; /*положение абсолютное, позиционируется относительно его ближайшего предка*/
left: 45%; /*слева 50% от ширины родительского блока*/
top: 50%; /*сверху 50% от высоты родительского блока*/
height: 25px;
width: 200px;
margin: -35px 0 0 -35px; /*смещение иконки, чтобы она располагалась по центру*/
}

/*ползунок для хрома*/
::-webkit-scrollbar{width: 5px}
::-webkit-scrollbar-button {border-radius: 10px}
::-webkit-scrollbar-thumb{background-color: #cccccc; border-radius: 5px}



/*навбар*/
.nav{
  background-color: #333;
	position: fixed;
	width: 100%; 
	z-index: 101;
}
	/*адаптивная кнопка*/
.fa-bars{
  font-size: 35px;
  color: #fff;
  height: 39px;
  width: 41px;
  transition: all 300ms;
  display: none;
  position: fixed;
}

.fa-bars:hover{
  cursor: pointer;
  background-color: #777;
  color: #000;
  border-radius: 3px;
  transition: all 300ms;
}
	/*корзина*/
.fa-shopping-cart{
  font-size: 35px;
  color: #fff;
  transition: all 300ms;
  width: 55px;
}

.fa-shopping-cart:hover{
  cursor: pointer;
  background-color: #444;
  border-radius: 3px;
  transition: all 300ms;
}
      /*счетчик*/
.null{
	font-size: 30px;
	text-align: center;	
	display: none;
	
}

/*1 секция*/

	/*секция 1.  меню*/
.section_1{
  background-color: #57626f;
  height: 1000px;
  position: fixed;
  z-index: 1;
  width: 200px;
  border-right: 2px solid #F7D358;
  transition: all 300ms;
}
	/*секция 1. Список*/
.section_1 ul li{
  list-style: none;
  padding-top: 30px;
}
	/*секция 1. Ссылки*/
.section_1 a{
  text-decoration: none;
  color: #fff;
}
.section_1 a:hover{
  color: #59e9df;
}
      /*Адаптивные кнопки регистрации*/
.btn_menu{
	margin-top: 490px;
	margin-right: 5px;
}

/*2 секция*/
	
	/*Строка поиска*/
.form-control{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 30%;
}
	/*блок с кнопками сорт. и строкой поиска*/
.product{
  margin-top: 50px;
  border-radius: 2px;

  /*opacity: 0.5*/
}
/*рамка товаров*/
.item{
	border: 2px solid #fff;
	background-color: #fff;
	border-radius: 10px;

}


/*блок с товарами*/

	/*картинки товаров*/
#img{
  width: 100%;
}
	/*название товара*/
.span_Title{
	font-weight: bold;
	font-size: 130%;
	background: linear-gradient(45deg, #ffc107 40%, #FF8000 33%, #DF01D7);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		overflow: inherit; 
		margin-left: 25%
}
	/*описание товара*/
.p_Description{
	font-size: 13px;
	padding: 5px;
	width: 100%;
	height: 72px;
	overflow: auto;
	text-align: center;
	color: #000;
}

	/*цена товара*/
.price_Product{
	width: 100px; 
	font-size: 200%;
	color:#000;
	padding-left: 33%;

}
	/*кнопка добавить*/
.basket{
	width: 80%;
	height: 33px;
	margin-left: 10%;
	border-radius: 30px;
}

/*footer*/
footer{
	background-color: black;
	border-top: 2px solid #F7D358;
	height: 200px;
	position: absolute;
	width: 100%;
	top: 1000px;

	}
	/*левая часть*/
	.footer_Information li a{
		text-decoration: none;
		color: #ffc139;
		transition: all 300ms;
	}
	.footer_Information li a:hover{
		font-size: 15px;
		color: #DF01D7;
		transition: all 300ms;
	}

	/*правая часть*/
	.icon a i{
		font-size: 35px;
		background: linear-gradient(45deg, #ffc107 40%, #FF8000 33%, #DF01D7);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.icon a i:hover{
		font-size: 35px;
		background: linear-gradient(45deg,#FF8000 33%, #DF01D7, #ffc107 40%);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	/**/
	.footfooter_leftBlock ul{
		padding-left: 110px;
	}


/*----------------------------------*/
/*Модальные окна*/
	.form-check{
		margin-left: 13px;
	}
	.modal{
		width: 500px;
		margin-left: 500px;
		margin-top: 80px;
	}
	.modal form{
		padding-top: 10px;
	}

	.modal a{
		font-size: 35px;
		padding-left: 45px;
		margin-left: 12px;
	}
	/*регистрация*/
	.btnReg{
		width: 500px;

	}
	/*формы вводов input*/
	#exampleInputEmail1{
		width: 100%;
	}
	/*формы вводов input*/
	#exampleInputPassword1{
		width: 100%;
	}
	/*формы вводов input*/
	.form_width{
		width: 100%;
	}
/*----------------------------------------------*/

/*всплывающее уведомление*/

	.notification-container{
		left: 50%;
		position: fixed;
		bottom: 0px;
		margin: auto;
		width: 290px;
		height: 100px;
		overflow: hidden;
		z-index: 1;
	}

	.content{
		margin: auto;
		color: #848484;
		font-size: 30px;
		width: 290px;
		height: 100px;
		bottom: -100px;
		position: fixed;
		border-left: 5px solid #2E9AFE;
		background: #fff;
		transition: all 1000ms;
	}

/*Кнопка закрытия уведомления*/
	.notification-container img{
		width: 100px;
		height: 60px;
		color: #848484;
	}
	.notification-container img:hover{
		cursor: pointer;
		
	}


/*transform: translate(-50%, 50%);
*/ /*выпадает по оси X Y*/








@media screen and (max-width: 1110px){
	/*левая часть болка*/
	.footer_leftBlock{
		width: 100%;
		margin-right: 20%;
	}
	/*правая часть болка*/
	.footer_rightBlock{
		width: 100%;
	}
	/*модальное окно РЕГИСТРАЦИЯ*/
	.btnReg{
		 margin-left: 30%;
	}
	/*модальное окно ВХОД*/
	.btnSign{
		 margin-left: 30%;
	}
	/*модальное окно ПРО НАС*/
	.btnInfo{
		margin-left: 30%;
	}

}



@media screen and (max-width: 968px){
	/*название товара*/
	.span_Title{
		margin-left: 15%;
		font-size: 100%;
	}
	/*цена товара*/
	.price_Product{
		font-size: 150%;
		padding-left: 25%;
	}
	/*кнопка добавить*/
	.basket{
		width: 80%;
		margin-left: 8%;
	}

}



@media screen and (max-width: 824px){

	/*Адаптивная кнопка*/
	.fa-bars{
		display: block;
	}
	/* 1 секция. Меню*/
	.section_1{
		left: -200px;
	}
	/*Адаптивные кнопки регистрации в меню*/
	.btn_menu{
      	display: block;
    }




@media screen and (max-width: 766px){

	/*название товара*/
	.span_Title{
		margin-left: 35%;
		font-size: 190%;
	}
	/*описание товара*/
	.p_Description{
		font-size: 100%;
		/*width: 219px;*/
	}
	/*цена товара*/
	.price_Product{
		font-size: 230%;
		padding-left: 42%;
	}
	/*кнопка добавить*/
	.basket{
		width: 80%;
		margin-left: 9%;
		font-size: 100%;
	}
	/*модальное окно РЕГИСТРАЦИЯ*/
	.btnReg{
		 margin-left: 0;
	}
	/*модальное окно ВХОД*/
	.btnSign{
		 margin-left: 0;
	}
	/*модальное окно ПРО НАС*/
	.btnInfo{
		margin-left: 10%;
	}

	footer{
		display: none;
	}

}

@media screen and (max-width: 576px){
	.pull-right{
		width: 98%;

	}

}



















/*Видео фона*/

  /*.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }
*/